/* .input {
  border: none;
  outline: none;
  width: 0;
  padding: 0;
  border-radius: 20px;
  font-size: 1.6rem;
  transition: width 0.5s;
  background-color: transparent;
  color: white;
}

.input::placeholder {
  font-size: 1.5rem;
}

.openSearch {
  display: block;
  width: 60%;
  margin-left: 1rem;
  padding: 0.7rem 1.8rem;
  border-radius: 20px;
  font-size: 1.5rem;
  border: 1px solid white;
}

.search {
  cursor: pointer;
}

.searchClose {
  color: black;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
} */

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  opacity: 1;
  border: 1px solid white;
  transition: all 0.4s;
  border-radius: 50px;
}

.searchContainer > input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.6rem 1.2rem;
  font-size: 16px;
  border-radius: 50px;
  background-color: black;
  color: white;
}

.cursor {
  cursor: pointer;
}

.hide {
  opacity: 0;
  width: 0;
  /* transform: translateX(200%); */
}
