.status {
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  max-width: 80%;
}

.status > div {
  border: 1px solid rgb(121, 118, 118);
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  font-size: 1.5rem;
  color: gray;
  cursor: pointer;
}

.selected {
  border-color: white !important;
  color: white !important;
}
